.titulo{
    color:aquamarine;
    font: optional;
    color:blueviolet;
}
.titulo{
    color:aquamarine;
    font: optional;
    color:blueviolet;
}
.titulo{
    color:aquamarine;
    font: optional;
    color:blueviolet;
}
.titulo{
    color:aquamarine;
    font: optional;
    color:blueviolet;
}
.titulo{
    color:aquamarine;
    font: optional;
    color:blueviolet;
}
.titulo{
    color:aquamarine;
    font: optional;
    color:blueviolet;
}
.titulo{
    color:aquamarine;
    font: optional;
    color:blueviolet;
}
.titulo{
    color:aquamarine;
    font: optional;
    color:blueviolet;
}